<div class="container">
  <div class="code {{ isCorrect && password.length >= 4? 'green' : 'red' }}">
    <div class="passwordLength">
      <p class="password-numbers" *ngFor="let char of password">*</p>
    </div>
  </div>
  <div class="number" >
    <div class="buttonNumber">
      <button type="submit" value="1" (click)="addOne()" [disabled]="password.length >= 4">1</button>
      <button type="submit" value="2" (click)="addTwo()" [disabled]="password.length >= 4">2</button>
      <button type="submit" value="3" (click)="addThree()" [disabled]="password.length >= 4">3</button>
      <button type="submit" value="4" (click)="addFour()" [disabled]="password.length >= 4">4</button>
      <button type="submit" value="5" (click)="addFive()" [disabled]="password.length >= 4">5</button>
      <button type="submit" value="6" (click)="addSix()" [disabled]="password.length >= 4">6</button>
      <button type="submit" value="7" (click)="addSeven()" [disabled]="password.length >= 4">7</button>
      <button type="submit" value="8" (click)="addEight()" [disabled]="password.length >= 4">8</button>
      <button type="submit" value="9" (click)="addNine()" [disabled]="password.length >= 4">9</button>
      <button type="submit" (click)="minusChar()"><</button>
      <button type="submit" value="0" (click)="addZero()" [disabled]="password.length >= 4">0</button>
      <button type="submit" (click)="addChar()">E</button>
    </div>
  </div>
</div>

