*{
  padding: 0;
  margin: 0;
}

.container{
  padding: 10px 0 0 6px;
  width: 200px;
  border-radius: 5px;
}

.count{
  font-size: 25px;
}

.code{
  font-size: 28px;
  text-align: center;
  border: 3px solid black;
  width: 193px;
  height: 100px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}


.green {
  background: green;
}

.red{
  background: red;
}


.white{
  background: white;
}

.passwordLength{
  display: flex;
  justify-content: center;
}

.password-numbers{
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
}

.number{
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
}


button{
  width:55px;
  height:50px;
  background: grey;
  color: white;
  float:left;
  margin: 0 15px 15px 0;
  text-align:center;
  padding: 10px;
  border-radius: 20px;
}
